<h1>Total</h1>
<%= Picture.created_before(1.month.ago).count %>

<h1>Most recent pictures</h1>
<ul>
	<% @most_recent_pictures.each do |picture| %>
	  <li><%= picture.title %>, <%= picture.artist %></li>
	  <%= link_to image_tag(picture.url), picture_path(picture) %>
	<% end %>
</ul>

